<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.omcube.model.mapper.EpTravelMangerMapper">

  <!-- 根据机构号查询该机构下的出差信息 -->
 	<select id="queryTravelList" parameterType="com.omcube.model.request.QueryTravelRequest" resultType="com.omcube.model.response.TravelResponse">
 	
		select 
		  t.apply_no as applyNo ,
		  c.organ_no as organNo,
		  c.derp_no as deptNo,
		  o1.organ_name as companyname,
		  o2.organ_name as deptname ,
		  c.user_no as userNo,
		  c.cust_name as custName,
		  c.cust_post as custPost,
		  c.cust_class as custClass,
		  t.travel_type as travelType,
		  t.travel_start_time as travelStartTime,
		  t.travel_end_time as travelEndTime, 
		  t.travel_start_city as travelStartCity,
		  t.travel_arrival_city as travelArrivalCity,
		  t.travel_days as travelDays,
		  t.travel_std as travelSTD,
		  t.remark as remark,
		  t.attachm as attachm,
		  t.created_by as createdBy,
		  t.created_date as createdDate
		  from (select   * from EP_CUST_INFO where organ_no = #{organNo}) c 
		inner join IFDP_SYS_ORGAN_BASE o1 
		  on c.organ_no = o1.organ_no 
		inner join IFDP_SYS_ORGAN_BASE o2 
		  on c.derp_no = o2.organ_no 
		inner join EP_TRAVEL_FLOW t
		   on c.user_no=t.user_no 	 
		where t.uid=#{uid} 
		 
			 <if test="userNo != null and userNo!=''">
				and c.user_no =#{userNo}
			</if>
			
			 <if test="travelStartTime != null and travelStartTime!=''">
				and t.travel_start_time &gt; #{travelStartTime}
			</if>
			
			<if test="travelEndTime != null and travelEndTime!=''">
				and t.travel_end_time &lt; #{travelEndTime}
			</if>
			
			 order by t.apply_no desc
	 	
 	</select>
 	
 	<!-- 根据出差编号查询出差详情 -->
 	 <select id="getTravelInfoByApplyNo" parameterType="com.omcube.model.request.QueryTravelRequest" resultType="com.omcube.model.response.TravelResponse">
	 		select 
			  t.apply_no as applyNo ,
			  c.organ_no as organNo,
			  c.derp_no as deptNo,
			  o1.organ_name as companyname,
			  o2.organ_name as deptname ,
			  c.user_no as userNo,
			  c.cust_name as custName,
			  c.cust_post as custPost,
			  c.cust_class as custClass,
			  t.travel_type as travelType,
			  t.travel_start_time as travelStartTime,
			  t.travel_end_time as travelEndTime, 
			  t.travel_start_city as travelStartCity,
			  t.travel_arrival_city as travelArrivalCity,
			  t.travel_days as travelDays,
			  t.travel_std as travelSTD,
			  t.remark as remark,
			  t.attachm as attachm,
			  t.created_by as createdBy,
			  t.created_date as createdDate
			  t.updated_by as updatedBy,
			  t.updated_date as updatedDate
			  from EP_CUST_INFO c
			inner join IFDP_SYS_ORGAN_BASE o1 
			  on c.organ_no = o1.organ_no 
			inner join IFDP_SYS_ORGAN_BASE o2 
			  on c.derp_no = o2.organ_no 
			inner join EP_TRAVEL_FLOW t
			 on c.user_no=t.user_no 	 
			where t.uid=#{uid} and t.apply_no=#{ApplyNo}
 	
 	</select>
 	
 	
 	<!-- 根据员工编号查询员工详情 -->
 	 <select id="getUseInfoByUserNo" parameterType="com.omcube.model.request.QueryTravelRequest" resultType="com.omcube.model.response.TravelResponse">
	 		select 
			  c.user_no as userNo,
			  c.organ_no as organNo,
			  c.derp_no as deptNo,
			  o1.organ_name as companyname,
			  o2.organ_name as deptname ,
			  c.cust_name as custName,
			  c.cust_post as custPost,
			  c.cust_class as custClass
			  from EP_CUST_INFO c
			inner join IFDP_SYS_ORGAN_BASE o1 
			  on c.organ_no = o1.organ_no 
			inner join IFDP_SYS_ORGAN_BASE o2 
			  on c.derp_no = o2.organ_no	 
			where c.uid=#{uid} and c.user_no=#{userNo}
 	
 	</select>
 	
 	
 	<!-- 根据出差编号查询出差单表信息 -->
 	<select id="queryTravel" parameterType="map" resultType="com.omcube.model.po.EpTravelPO">
		
		select * from EP_TRAVEL_FLOW where uid = #{uid} and apply_no = #{applyNo}
		
	</select>
 	
 	<!-- 根据出差编号删除出差信息 -->
 	<delete id="deleteTravel" parameterType="com.omcube.model.request.QueryTravelRequest">
 	
 		delete from EP_TRAVEL_FLOW where uid=#{uid} and apply_no=#{applyNo}
 	
 	</delete>
 	
 	<!-- 根据出差编号更新出差信息 -->
 	<update id="modifyTravelInfo" parameterType="com.omcube.model.po.EpTravelPO">
 	
 		update EP_TRAVEL_FLOW
		
		<set>
			<if test="travelStartTime!=null">
				travel_start_time=#{travelStartTime},
			</if>
			<if test="travelEndTime!=null">
				travel_end_time=#{travelEndTime},
			</if>
			
			<if test="travelStartCity!=null">
				travel_start_city=#{travelStartCity},
			</if>
			
			<if test="travelArrivalCity!=null">
				travel_arrival_city=#{travelArrivalCity},
			</if>
			
			<if test="travelType!=null">
				travel_type=#{travelType},
			</if>
			
			<if test="travelDays!=null">
				travel_days=#{travelDays},
			</if>
				
			<if test="travelSTD!=null">
				travel_std=#{travelSTD},
			</if>
			<if test="remark!=null">
				remark=#{remark},
			</if>
			
			<if test="attachm!=null">
				attachm=#{attachm},
			</if>	
			<if test="updatedBy!=null">
				updated_by=#{updatedBy},
			</if>	
			
				updated_date=date_format(now(),'%y-%m-%d'),	
		</set>	
		
		where apply_no=#{applyNo} and uid=#｛uid｝
		
	</update>
 		
	<insert id="addTravelInfo" parameterType="com.omcube.model.po.EpTravelPO">
	
		insert into EP_TRAVEL_FLOW
			(uid,apply_no,user_no,travel_start_time,travel_end_time,
			travel_std,travel_type,travel_start_city,travel_arrival_city,
			travel_days,attachm,remark,created_by,created_date,updated_by,updated_date)
		values(
		
			#{uid},#{applyNo},#{userNo},#{travelStartTime},#{travelEndTime},#{travelSTD},
			#{travelType},#{travelStartCity},#{travelArrivalCity},#{travelDays},#{attachm},
			#{remark},#{createdBy},date_format(now(),'%y-%m-%d'),#{updatedBy},date_format(now(),'%y-%m-%d')
				
		)
	
	</insert>
 	
 	
</mapper>