<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.omcube.model.mapper.EPWorkOtMapper">

	<resultMap id="EPWorkOtMap" type="com.omcube.model.po.EPWorkOtPO">
		<id column="UID" property="uid"></id>
		<id column="APPLY_NO" property="applyNo"></id>
		<result column="WORKOT_START_TIME" property="workotStartTime" javaType="java.util.Date"></result>
		<result column="WORKOT_END_TIME" property="workotEndTime" javaType="java.util.Date"></result>
		<result column="WORKOT_TYPE" property="workotType" javaType="java.lang.String"></result>
		<result column="TIME_SHEET" property="timeSheet" javaType="java.lang.Double"></result>
		<result column="AUTH_FLOW" property="authFlow" javaType="java.lang.String"></result>
		<result column="AUTH_STATUS" property="authStatus" javaType="java.lang.String"></result>
		<result column="AUTH_VIEW" property="authView" javaType="java.lang.String"></result>
		<result column="ATTACHM" property="attachm" javaType="java.lang.String"></result>
		<result column="REMARK" property="remark" javaType="java.lang.String"></result>
		<result column="CREATED_BY" property="createdBy" javaType="java.lang.String"></result>
		<result column="CREATED_DATE" property="createdDate" javaType="java.util.Date"></result>
		<result column="UPDATED_BY" property="updatedBy" javaType="java.lang.String"></result>
		<result column="UPDATED_DATE" property="updatedDate" javaType="java.util.Date"></result>

	</resultMap>
	
	<!-- 通过加班的编号查询加班详情 -->
	<select id="queryWorkOtInfo" parameterType="map" resultType="com.omcube.model.po.EPWorkOtPO">
		select *
		from
			EP_WORKOT_FLOW
		where
			UID = #{uid} and APPLY_NO = #{applyNo}
	</select>

	<!-- 加班详细信息的添加 -->
	<insert id="addWorkOtInfo" parameterType="com.omcube.model.response.WorkOtResponse">
		insert into
			EP_WORKOT_FLOW
			(
			UID,APPLY_NO,USER_NO,WORKOT_START_TIME,WORKOT_END_TIME,WORKOT_TYPE,
			TIME_SHEET,AUTH_FLOW,AUTH_STATUS,AUTH_VIEW,ATTACHM,REMARK,CREATED_BY,
			CREATED_DATE
			)
		value(
			#{uid},
			#{applyNo},
			#{userNo},
			#{workotStartTime},
			#{workotEndTime},
			#{workotType},
			#{timeSheet},
			#{authFlow},
			#{authStatus},
			#{authView},
			#{attachm},
			#{remark},
			#{createdBy},
			date_format(now(),'%y-%m-%d')
		)
	</insert>
	
	<!-- 加班详情的修改 -->
	<update id="modifyWorkOtInfo" parameterType="com.omcube.model.response.WorkOtResponse">
		update
			EP_WORKOT_FLOW
		set
			WORKOT_START_TIME = #{workotStartTime},
			WORKOT_END_TIME = #{workotEndTime},
			WORKOT_TYPE = #{workotType},
			TIME_SHEET = #{timeSheet},
			ATTACHM = #{attachm},
			REMARK = #{remark}
		where
			UID = #{uid} and APPLY_N0 = #{applyNo}
	</update>
	
	<!-- 加班详情的删除 -->
	<delete id="deleteWorkOtInfo" parameterType="com.omcube.model.request.QueryWorkOt">
		delete from
			EP_WORKOT_FLOW
		where
			APPLY_N0 = #{applyNo} and UID = #{uid}
	</delete>
	
	<!-- 加班详情的查询 -->
	<select id="queryWorkOtInfos" parameterType="com.omcube.model.request.QueryWorkOt" resultType="com.omcube.model.response.WorkOtResponse">
		select 
			w.APPLY_NO AS applyNo,
			c.ORGAN_NO AS organNo,
			c.DERP_NO AS deptNo,
			o1.ORGAN_NAME AS companyname,
			o2.ORGAN_NAME AS deptname,
			c.USER_NO AS userNo,
			c.CUST_NAME AS custName,
			w.WORKOT_TYPE AS WORKOT_TYPE,
			w.WORKOT_START_TIME AS WORKOT_START_TIME,
			w.WORKOT_END_TIME AS WORKOT_END_TIME,
			w.TIME_SHEET AS TIME_SHEET,
			w.REMARK AS remark,
			w.ATTACHM AS attachm,
			w.CREATED_BY AS createdBy,
			w.CREATED_DATE AS createdDate
		from EP_CUST_INFO c
		inner join IFDP_SYS_ORGAN_BASE o1 
		on c.ORGAN_NO = o1.ORGAN_NO 
		inner join IFDP_SYS_ORGAN_BASE o2 
		on c.DERP_NO = o2.ORGAN_NO 
		inner join EP_WORKOT_FLOW w
		on c.USER_NO=w.USER_NO 	 
		where w.UID=#{uid} and c.USER_NO=#{userNo}
	</select>

	<!-- 加班详情列表的查询 -->
	<select id="queryWorkOtList" parameterType="com.omcube.model.request.QueryWorkOt" resultType="com.omcube.model.response.WorkOtResponse">
    	select	
    		w.APPLY_NO AS applyNo,
			c.ORGAN_NO AS organNo,
			c.DERP_NO AS deptNo,
			o1.ORGAN_NAME AS companyname,
			o2.ORGAN_NAME AS deptname,
			c.USER_NO AS userNo,
			c.CUST_NAME AS custName,
			w.WORKOT_TYPE AS WORKOT_TYPE,
			w.WORKOT_START_TIME AS WORKOT_START_TIME,
			w.WORKOT_END_TIME AS WORKOT_END_TIME,
			w.TIME_SHEET AS TIME_SHEET,
			w.REMARK AS remark,
			w.ATTACHM AS attachm,
			w.CREATED_BY AS createdBy,
			w.CREATED_DATE AS createdDate
		from (select * from EP_CUST_INFO where ORGAN_NO = #{organNo}) c 
		inner join IFDP_SYS_ORGAN_BASE o1
		on c.ORGAN_NO = o1.ORGAN_NO 
		inner join IFDP_SYS_ORGAN_BASE o2 
		on c.DERP_NO = o2.ORGAN_NO 
		inner join EP_WORKOT_FLOW w
		on c.USER_NO=w.USER_NO 	 
		where w.UID=#{uid}
		<if test="userNo != null and userNo!=''">
			and c.USER_NO =#{userNo}
		</if>
			
		<if test="workotStartTime != null and workotStartTime != ''">
			and w.WORKOT_START_TIME &gt; #{workotStartTime}
		</if>
			
		<if test="workotEndTime != null and workotEndTime != ''">
			and w.WORKOT_END_TIME &lt; #{workotEndTime}
		</if>
			
	    order by w.APPLY_NO desc
	</select>

</mapper>