<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omcube.model.mapper.EpOrganBillInfoMapper">
	<resultMap id="EpOrganBillInfoMap" type="com.omcube.model.po.EpOrganBillInfoPO">
		<id column="UID" property="uId"></id>
		<id column="ORGAN_NO" property="organNo"></id>
		<result column="ORGAN_NAME" property="organName" javaType="java.lang.String"></result>
		<result column="ORGAN_TAXNO" property="organTaxNo" javaType="java.lang.String"></result>
		<result column="ORGAN_TEL" property="organTel" javaType="java.lang.String"></result>
		<result column="ORGAN_ACCT" property="organAcct" javaType="java.lang.String"></result>
		<result column="ORGAN_ACCTNAME" property="organAcctname" javaType="java.lang.String"></result>
		<result column="ORGAN_ADDR" property="organAddr" javaType="java.lang.String"></result>
		<result column="CREATED_BY" property="createdBy" javaType="java.lang.String"></result>
		<result column="CREATED_DATE" property="createdDate" javaType="java.util.Date"></result>
		<result column="UPDATED_BY" property="updatedBy" javaType="java.lang.String"></result>
		<result column="UPDATED_DATE" property="updatedDate" javaType="java.util.Date"></result>
	</resultMap>

	<!-- 新增公司开票信息 -->
	<insert id="addOrganBillInfo" parameterType="com.omcube.model.po.EpOrganBillInfoPO">
		insert into EP_ORGAN_BILLINFO values(
		#{uId},#{organNo},#{organName},#{organTaxNo},
		#{organTel},#{organAcct},#{organAcctname},#{organAddr},
		#{createdBy},date_format(now(),'%y-%m-%d'),
		#{updatedBy},date_format(now(),'%y-%m-%d')
		)
	</insert>

	<!-- 修改公司开票信息 -->
	<update id="updateOrganBillInfo" parameterType="com.omcube.model.po.EpOrganBillInfoPO" >
		update EP_ORGAN_BILLINFO set
		ORGAN_NAME = #{organName},
		ORGAN_TAXNO=#{organTaxNo},
		ORGAN_TEL=#{organTel},
		ORGAN_ACCT=#{organAcct},
		ORGAN_ACCTNAME=#{organAcctname},
		ORGAN_ADDR=#{organAddr},
		UPDATED_BY=#{updatedBy},
		UPDATED_DATE=date_format(now(),'%y-%m-%d')
		where (UID=#{uId} and ORGAN_NO=#{organNo})
	</update>

	<!-- 查询公司开票信息列表 -->
	<select id="queryBillInfoList" parameterType="java.lang.String"
		resultMap="EpOrganBillInfoMap">
		select * from EP_ORGAN_BILLINFO where UID = #{uId}
	</select>

	<!-- 通过公司名称模糊查询公司开票信息列表 -->
	<select id="queryBillInfoByName" resultMap="EpOrganBillInfoMap">
		select * from EP_ORGAN_BILLINFO
		<where>
			UID=#{arg0}
			<if test="arg1 = '' || arg1=null">
				and ORGAN_NAME like concat("%",#{arg1},"%")
			</if>
		</where>
	</select>
</mapper>