<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.omcube.model.mapper.OrganCCCManagementMapper">
	<resultMap id="OrganCCCManagementMap" type="com.omcube.model.po.OrganCCCManagemenPO">
		<id column="uid" property="uid"></id>
		<id column="organ_no" property="organNo"></id>
		<result column="organ_no" property="organNo" javaType="java.lang.String"></result>
		<result column="organ_name" property="organName" javaType="java.lang.String" />
		<result column="cost_type" property="costType" javaType="java.lang.String"></result>
		<result column="cost_code" property="costCode" javaType="java.lang.String"></result>
		<result column="descr" property="descr" javaType="java.lang.String"></result>
		<result column="created_by" property="createdBy" javaType="java.lang.String" />
		<result column="created_date" property="createdDate" javaType="java.util.Date" />
		<result column="updated_by" property="updatedBy" javaType="java.lang.String" />
		<result column="updated_date" property="updatedDate" javaType="java.util.Date" />
	</resultMap>

	<!-- 查询所有列表 -->
	<select id="queryOrgCCCList" parameterType="com.omcube.model.request.QueryOrganCCCRequest"
	resultMap="OrganCCCManagementMap">
		select
			edc.organ_no,
			sob.organ_name ,
			edc.cost_type ,
			edc.cost_code ,
			edc.descr 
		from
			EP_DEPT_CCC edc
		inner join 
			IFDP_SYS_ORGAN_BASE sob
		on 
			edc.organ_no = sob.organ_no
		where
			edc.uid=#{uid} and
			sob.organ_status='1'
	</select>

	<!-- 根据机构名称获取机构ID -->
	<select id="getOrganNoByName" parameterType="String"
		resultType="String"> 
		<!-- 
		select *
		from
		EP_DEPT_CCC
		where
		organ_no=(select organ_no from
		IFDP_SYS_ORGAN_BASE
		where
		organ_name=#{organName}
		and uid=#{uid}
		and organ_status='1' )
		-->
		select 
			organ_no as organNo
		from 
			IFDP_SYS_ORGAN_BASE
		where
			organ_name=#{organName}
			and uid=#{uid}
			and organ_status='1'	
	</select>
	
	<!-- 根据机构号校验机构CCC是否存在 -->
	<select id="queryOrganCCCManagementByOrganNo" parameterType="String" resultMap="OrganCCCManagementMap">
		select * 
		from 
			EP_DEPT_CCC 
		where  
			organ_no=#{organNo} and 
			uid=#{uid}
	</select>

	<!-- 新增机构CCC功能 -->
	<!-- <insert id="insertOrganCCCManagementISOB" parameterType="com.omcube.model.po.OrganCCCManagemenPO"> 
		insert into IFDP_SYS_ORGAN_BASE (UID,ORGAN_NO,ORGAN_NAME,ORGAN_TYPE,ORGAN_STATUS,ORGAN_LEVEL, 
		CREATED_BY,CREATED_DATE,UPDATED_BY,UPDATED_DATE) values(#{uid},#{organNo},#{organName}, 
		#{organType},#{status},#{organLevel},#{createBy},#{createDate},#{updateBy},#{updateDate}) 
		</insert> -->
	<insert id="insertOrganCCCManagementEDC" parameterType="com.omcube.model.po.OrganCCCManagemenPO">
		insert into 
			EP_DEPT_CCC
			(uid,organ_no,cost_type,cost_code,descr,created_by,
			created_date,updated_by,updated_date)
		values
			(#{uid},#{organNo},#{costType},#{costCode},#{descr},#{createdBy},
			date_format(now(),'%y-%m-%d'),#{updatedBy},date_format(now(),'%y-%m-%d'))
	</insert>

	<!-- <update id="updateOrganCCCManagementISOB" parameterType="com.omcube.model.po.OrganCCCManagemenPO"> 
		update IFDP_SYS_ORGAN_BASE set organ_name=#{organName} where organ_no=#{organNo} 
		</update> <update id="updateOrganCCCManagementEDC" parameterType="com.omcube.model.po.OrganCCCManagemenPO"> 
		update EP_DEPT_CCC set cost_type=#{costType},cost_code=#{costCode},descr=#{descr} 
		where organ_no=#{organNo} </update> -->

	<!--  修改之前的查询回显机构CCC -->
	<select id="queryOrganCCCManagementByOrganName" parameterType="String"
		resultMap="OrganCCCManagementMap">
		 
		select
			*
		from
			EP_DEPT_CCC
		where
			organ_no=(select organ_no from IFDP_SYS_ORGAN_BASE
			where
			uid=#{uid}
			and organ_name=#{organName}
			and organ_status='1' )
		 
	</select>

	<!-- 修改 -->
	<update id="updateOrganCCCManagementEDC" parameterType="com.omcube.model.po.OrganCCCManagemenPO">
		update
			EP_DEPT_CCC
		set
			cost_type=#{costType},cost_code=#{costCode},descr=#{descr}
		WHERE
			organ_no=(SELECT organ_no FROM IFDP_SYS_ORGAN_BASE WHERE
			organ_name=#{organName}
			and organ_status='1' )
	</update>

	<!-- 删除机构CCC -->
	<delete id="deleteOrganCCC" parameterType="java.lang.String">
		update
			IFDP_SYS_ORGAN_BASE 
		set 
			organ_status='0' 
		where 
			organ_no=#{organNo} and 
		uid=#{uid}
	</delete>
</mapper>