<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.omcube.model.mapper.PayBaseInfoMapper">
	<resultMap id="queryPayBaseInfoDetailMap" type="com.omcube.model.po.EpPayBaseInfoPO">
        <id column="user_no" property="userNo"></id>
        <result column="wages_base" property="wagesBase" javaType="java.lang.Double"></result>
        <result column="wages_perf" property="wagesPerf" javaType="java.lang.Double"></result>
        <result column="post_pension" property="postPension" javaType="java.lang.Double"></result>
        <result column="other_pension" property="otherPension" javaType="java.lang.Double"></result>
        <result column="endm_base" property="endmBase" javaType="java.lang.Double"></result>
        <result column="medi_base" property="mediBase" javaType="java.lang.Double"></result>
        <result column="unem_base" property="unemBase" javaType="java.lang.Double"></result>
        <result column="empl_base" property="emplBase" javaType="java.lang.Double"></result>
        <result column="mate_base" property="mateBase" javaType="java.lang.Double"></result>
        <result column="house_base" property="houseBase" javaType="java.lang.Double"></result>
        <result column="prob_ratio" property="probRatio" javaType="java.lang.Double"></result>
        <result column="welcoe_no" property="welcoeNo" javaType="java.lang.String"></result>
        <result column="remark" property="remark" javaType="java.lang.String"></result>
        <result column="pbase_status" property="status" javaType="java.lang.String"></result>
        <result column="created_by" property="createdBy" javaType="java.lang.String"></result>
        <result column="updated_by" property="updatedBy" javaType="java.lang.String"></result>
        <result column="created_date" property="createdDate" javaType="java.util.Date"></result>
        <result column="updated_date" property="updatedDate" javaType="java.util.Date"></result>
    </resultMap>
    
	<resultMap id="queryPayBaseInfoListMap" type="com.omcube.model.response.PayBaseInfoListResponse">
        <id column="user_no" property="userNo"></id>
        <result column="cust_name" property="userName" javaType="java.lang.String"></result>
        <result column="wages_base" property="wagesBase" javaType="java.lang.Double"></result>
        <result column="wages_perf" property="wagesPerf" javaType="java.lang.Double"></result>
        <result column="other_pension" property="otherPension" javaType="java.lang.Double"></result>
        <result column="endm_base" property="endmBase" javaType="java.lang.Double"></result>
        <result column="prob_ratio" property="probRatio" javaType="java.lang.Double"></result>
        <result column="created_date" property="createdDate" javaType="java.util.Date"></result>
    </resultMap>
    
	<insert id="addPayBaseInfo" parameterType="com.omcube.model.po.EpPayBaseInfoPO">
		insert into 
			EP_PAY_BASEINF 
		values 
		(
			#{uId},
			#{userNo},
			#{wagesBase},
			#{wagesPerf},
			#{postPension},
			#{otherPension},
			#{endmBase},
			#{mediBase},
			#{unemBase},
			#{emplBase},
			#{mateBase},
			#{houseBase},
			#{probRatio},
			#{welcoeNo},
			#{status},
			#{remark},
			#{createdBy},
			date_format(now(),'%y-%m-%d'),
			#{updatedBy},
			date_format(now(),'%y-%m-%d')
		);
	</insert>
	
	<select id="querySalaryTopByUserNo" parameterType="java.lang.String" resultType="java.lang.Double">
 		select 
 			cp.salary_top 
 		from EP_CLASSPARM_CTRL cp 
			left join EP_CUST_INFO ci on cp.organ_no = ci.organ_no and cp.rank = ci.cust_class and cp.uid = ci.uid
		where ci.uid = #{uid} and ci.user_no = #{userNo} 
	 </select>
	 
	 <select id="queryPayBaseInfoList" parameterType="com.omcube.model.request.QueryPayBaseInfoRequest" resultMap="queryPayBaseInfoListMap">
		 select 
			pb.user_no,
			ci.cust_name,
			pb.wages_base,
			pb.wages_perf,
			pb.other_pension,
			pb.endm_base,
			pb.prob_ratio,
			pb.created_date 
		 from 
		 	EP_PAY_BASEINF pb,
		 	EP_CUST_INFO ci 
		 where 
		 	pb.user_no = ci.user_no and pb.pbase_status != 0 and pb.uid = #{uid}  
			<if test="userNo != null">
				and pb.user_no like '%${userNo}%'
			</if>
			<if test="userName != null">
				and ci.cust_name like '%${userName}%'
			</if>
			order by pb.user_no desc
	 </select>
	 
	 <select id="queryPayBaseInfoDetail" parameterType="java.lang.String" resultMap="queryPayBaseInfoDetailMap">
 		select * from EP_PAY_BASEINF where uid = #{uid} and user_no = #{userNo} 
	 </select>
	 
	 <update id="updatePayBaseInfo" parameterType="com.omcube.model.po.EpPayBaseInfoPO">
		update EP_PAY_BASEINF set
			wages_base=#{wagesBase},
			wages_perf=#{wagesPerf},
			post_pension=#{postPension},
			other_pension=#{otherPension},
			endm_base=#{endmBase},
			medi_base=#{mediBase},
			unem_base=#{unemBase},
			empl_base=#{emplBase},
			mate_base=#{mateBase},
			house_base=#{houseBase},
			prob_ratio=#{probRatio},
			welcoe_no=#{welcoeNo},
			remark=#{remark},
			updated_by=#{updatedBy},
			updated_date=date_format(now(),'%y-%m-%d')
		where uid=#{uId} and user_no=#{userNo}
	</update>
	 
	<update id="deletePayBaseInfo" parameterType="java.util.Map" >
   		update EP_PAY_BASEINF set pbase_status='0', updated_by=#{updatedBy} where uid=#{uid} and user_no=#{userNo} 
    </update>
    
</mapper>