<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.omcube.model.mapper.RankSalaryTemplateMapper">
	<!--返回结果映射 -->
	<resultMap id="RankSalaryTemplateInfo" type="com.omcube.model.po.RankSalaryTemplatePO">
		<id column="uid" property="uid"></id>
		<id column="apply_no" property="applyNo"></id>
		<result column="organ_no" property="organNo" javaType="java.lang.String"></result>
		<result column="apply_name" property="applyName" javaType="java.lang.String"></result>
		<result column="rank" property="rank" javaType="java.lang.String"></result>
		<result column="salary_top" property="salaryTop" javaType="java.lang.Double"></result>
		<result column="salary_floor" property="salaryFloor" javaType="java.lang.Double"></result>
		<result column="business_standard" property="businessStandard" javaType="java.lang.Double"></result>
		<result column="remark" property="remark" javaType="java.lang.String"></result>
		<result column="created_by" property="createdBy" javaType="java.lang.String"></result>
		<result column="created_date" property="createdDate" javaType="java.util.Date"></result>
		<result column="updated_by" property="updatedBy" javaType="java.lang.String"></result>
		<result column="updated_date" property="updatedDate" javaType="java.util.Date"></result>
		<result column="template_status" property="status" javaType="java.lang.String"></result>
	</resultMap>

	<!--1.添加职级薪酬标准模板 -->
	<insert id="addRankSalaryTemplate" parameterType="com.omcube.model.po.RankSalaryTemplatePO">
		INSERT INTO 
		EP_CLASSPARM_CTRL
		(uid,organ_no,apply_no,apply_name,rank,salary_top,salary_floor,business_standard,remark,created_by,created_date,template_status) 
		VALUES(#{uid},#{organNo},#{applyNo},#{applyName},#{rank},#{salaryTop},#{salaryFloor},#{businessStandard},#{remark},#{createdBy},DATE_FORMAT(NOW(),'%y-%m-%d'),1)
	</insert>
	<!--2.查询职级薪酬标准模板列表  -->
	<select id="queryRankSalaryTemplates" parameterType="com.omcube.model.po.RankSalaryTemplatePO" resultMap="RankSalaryTemplateInfo">
		SELECT 
		uid,organ_no,apply_no,apply_name,rank,salary_top,salary_floor,business_standard,remark,created_by,created_date 
		FROM EP_CLASSPARM_CTRL
		WHERE uid = #{uid} AND organ_no = #{organNo} AND template_status =1
	</select>
	<!--3.根据uid，organNo和applyNo查询单个职级薪酬模板  -->
	<select id="queryRankSalaryTemplate" parameterType="com.omcube.model.po.RankSalaryTemplatePO" resultMap="RankSalaryTemplateInfo">
		SELECT 
		uid,organ_no,apply_no,apply_name,rank,salary_top,salary_floor,business_standard,remark
		FROM EP_CLASSPARM_CTRL
		WHERE uid = #{uid}  AND template_status =1 AND apply_no = #{applyNo}
		<if test="organNo != null and organNo != ''" >
			AND organ_no = #{organNo}
		</if>
	</select>
	<!--4.修改职级薪酬标准模板  -->
	<update id="updateRankSalaryTemplate" parameterType="com.omcube.model.po.RankSalaryTemplatePO">
		UPDATE EP_CLASSPARM_CTRL 
		SET apply_name = #{applyName},rank = #{rank},salary_top = #{salaryTop},salary_floor = #{salaryFloor},business_standard = #{businessStandard},remark = #{remark},updated_by = #{updatedBy},updated_date = DATE_FORMAT(NOW(),'%y-%m-%d') 
		WHERE uid = #{uid} AND organ_no = #{organNo} AND template_status =1 AND apply_no = #{applyNo}
	</update>
	<!--5.根据uid，organNo和applyNo删除相应的职级薪酬模板  -->
	<update id="deleteRankSalaryTemplate" parameterType="com.omcube.model.po.RankSalaryTemplatePO">
		UPDATE EP_CLASSPARM_CTRL 
		SET template_status =0,updated_by = #{updatedBy},updated_date = DATE_FORMAT(NOW(),'%y-%m-%d') 
		WHERE uid = #{uid} AND organ_no = #{organNo} AND template_status =1 AND apply_no = #{applyNo}
	</update>
</mapper>