<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.omcube.model.mapper.SysMenuMapper">

	<resultMap id="SysMenuMap" type="com.omcube.model.po.SysMenuPO">
		<id column="UID" property="uId"></id>
		<id column="SYS_NO" property="sysNo"></id>
		<id column="MENU_NO" property="menuNo"></id>
		<result column="MENU_NAME" property="menuName" javaType="java.lang.String"></result>
		<result column="UP_MENU_NO" property="upMenuNo" javaType="java.lang.String"></result>
		<result column="MENU_LEVEL" property="menuLevel" javaType="java.lang.String"></result>
		<result column="MENU_ORDER" property="menuOrder" javaType="java.lang.String"></result>
		<result column="MENU_URL" property="menuUrl" javaType="java.lang.String"></result>
		<result column="MENU_DESCR" property="menuDescr" javaType="java.lang.String"></result>
		<result column="MENU_IMG" property="menuImg" javaType="java.lang.String"></result>
		<result column="STATUS" property="status" javaType="java.lang.String"></result>
		<result column="CREATED_BY" property="createdBy" javaType="java.lang.String"></result>
		<result column="CREATED_DATE" property="createdDate" javaType="java.util.Date"></result>
		<result column="UPDATED_BY" property="updatedBy" javaType="java.lang.String"></result>
		<result column="UPDATED_DATE" property="updatedDate" javaType="java.util.Date"></result>
	</resultMap>

	<!-- 根据uid,系统编号sysNo,菜单编号menuNo查询菜单 -->
	<select id="queryMenuByUidAndSysNoAndMenuNo" parameterType="com.omcube.model.po.SysMenuPO"
		resultMap="SysMenuMap">
		select * 
		from 
			IFDP_SYS_MENU 
		where 
			UID = #{uId} 
			and SYS_NO = #{sysNo} 
			and MENU_NO = #{menuNo}
	</select>

</mapper>