<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.omcube.model.mapper.SysOrganMapper">
  
  
   <resultMap type="com.omcube.model.po.OrganTree" id="OrganTree">
		<result column="organ_no" property="id" javaType="java.lang.String" />
		<result column="organ_name" property="name" javaType="java.lang.String" />
		<collection column="organ_no" property="childrenList" ofType="com.omcube.model.po.OrganTree" javaType="java.util.ArrayList" select="selectOrganChildrenById"/>
	</resultMap>
    
    <select id="queryOrganTreeList" parameterType="java.lang.String" resultMap="OrganTree">
    
	     select organ_no,organ_name from IFDP_SYS_ORGAN_BASE where uid='0001' and organ_no=#{organ_no}
	       		
	</select>
	
	
	<select id="selectOrganChildrenById" resultMap="OrganTree" parameterType="string">
	
		select organ_no,organ_name from IFDP_SYS_ORGAN_BASE where parent_no=#{organ_no}
		
	</select>



    <select id="queryParentOrgan" parameterType="java.lang.String" resultType="com.omcube.model.po.SysOrganPO">     
      
		SELECT o1.ORGAN_NO,o1.ORGAN_NAME,o2.ORGAN_NAME organ_parent_name
			,o1.ORGAN_TYPE,o1.ORGAN_STATUS,od.ORGAN_MGE_NAME FROM 
			IFDP_SYS_ORGAN_BASE o1,SYS_ORGAN_DETAIL od ,IFDP_SYS_ORGAN_BASE o2
			WHERE o1.ORGAN_NO=od.ORGAN_NO AND o1.uid=od.UID AND o1.PARENT_NO=o2.ORGAN_NO AND o1.ORGAN_NO=#{organ_no} 
	
    </select>
    
    
    
     <select id="queryChildOrgan" parameterType="java.lang.String" resultType="com.omcube.model.po.SysOrganPO"> 
    
	    SELECT o1.ORGAN_NAME organ_child_name,o1.ORGAN_TYPE,o1.ORGAN_STATUS,od.ORGAN_MGE_NAME 
	    FROM  IFDP_SYS_ORGAN_BASE o1, SYS_ORGAN_DETAIL od WHERE
	     o1.ORGAN_NO=od.ORGAN_NO AND o1.uid=od.UID AND PARENT_NO=#{organ_no} 
    
    </select>
    
    
    <resultMap id="SysUserMap" type="com.omcube.model.po.SysUserPO">
        <id column="user_no" property="userNo"></id>
        <result column="log_name" property="userName" javaType="java.lang.String"></result>
        <result column="cert_no" property="certNo" javaType="java.lang.String"></result>
        <result column="mobile_tel" property="mobileTEL" javaType="java.lang.String"></result>
        <result column="email" property="email" javaType="java.lang.String"></result>
        <result column="organ_no" property="organNo" javaType="java.lang.String"></result>
        <result column="remark" property="remark" javaType="java.lang.String"></result>
        <result column="created_date" property="createdDate" javaType="java.util.Date"></result>
        <result column="updated_date" property="updatedDate" javaType="java.util.Date"></result>
        <result column="created_by" property="createdBy" javaType="java.lang.String"></result>
        <result column="updated_by" property="updatedBy" javaType="java.lang.String"></result>
        
    </resultMap>
    
    
    <select id="queryOrganUser" parameterType="java.lang.String" resultMap="SysUserMap"> 
   	    
	    select * from IFDP_SYS_USER_BASE where ORGAN_NO=#{organ_no}    
	    
    </select>
   
   
   <delete id="deleteOrgan" parameterType="java.lang.String" >
   
   		UPDATE IFDP_SYS_ORGAN_BASE SET ORGAN_STATUS='0' WHERE uid='0001' AND organ_no=#{organ_no}
    
   </delete>
   
    <insert id="addOrganUser" parameterType="java.lang.String">
   
    	INSERT INTO IFDP_SYS_USER_BASE(UID,USER_NO,LOG_NAME,CERT_NO,MOBILE_TEL,EMAIL,ORGAN_NO,STATUS,PSWD,PSWD_LEVEL,REMARK,CREATED_BY,CREATED_DATE,UPDATED_BY,UPDATED_DATE) values(
    	
    		#{uid}，#{userNo},#{userName},#{certNo},#{mobileTEL},#{email},#{organNo},#{status},#{password},#{pwdLevel},#{remark},#{createdBy}，#{createdDate}，#{updatedBy},#{updatedDate}
    	)
   
    
    </insert>
    
    
    <delete id="deleteOrganUser" parameterType="java.lang.String" >
   
   		UPDATE IFDP_SYS_USER_BASE SET STATUS='0' WHERE user_no=#{userNo}
    
   </delete>
    
    <select id="queryAllChildrenOrganNoes" parameterType="java.lang.String" resultType="java.lang.String"> 
	      SELECT organ_no from IFDP_SYS_ORGAN_BASE where FIND_IN_SET(organ_no,queryChildrenOrganInfo(#{organNo}));
    </select>
    
</mapper>