<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.omcube.model.mapper.SysOrganMapper">
  
  <!--1.递归查询公司及其所有下属机构  -->
  
   <resultMap type="com.omcube.model.po.OrganTree" id="OrganTree">
		<result column="organ_no" property="id" javaType="java.lang.String" />
		<result column="organ_name" property="name" javaType="java.lang.String" />
		<collection column="organ_no" property="childrenList" ofType="com.omcube.model.po.OrganTree"
		 javaType="java.util.ArrayList" select="selectOrganChildrenById"/>
	</resultMap>  
    <select id="queryOrganList" parameterType="java.lang.String" resultMap="OrganTree">   
	    select organ_no,organ_name from IFDP_SYS_ORGAN_BASE where organ_no=#{organNo}       		
	</select>	
	<select id="selectOrganChildrenById" resultMap="OrganTree" parameterType="string">
		select organ_no,organ_name from IFDP_SYS_ORGAN_BASE where parent_no=#{organ_no} and organ_status='1'			
	</select>

	<!--2.查询当前机构信息  -->
 	<select id="queryCurrentOrgan" parameterType="map" resultType="com.omcube.model.po.SysOrganPO">
	 
		select
			organ_no as organNo,
			organ_name as organName
		from
			IFDP_SYS_ORGAN_BASE
		where
			organ_no = #{organNo} 
		and uid = #{uId}
	 
	</select>

	<!--3.查询当前机构、上级机构及机构详情信息  -->
    <select id="queryCurrentAndParentOrganDetail" parameterType="java.lang.String" resultType="com.omcube.model.po.SysOrganPO">          
		
		select 
		  o1.organ_no as organNo,
		  o1.parent_no as parentNo,
		  o1.organ_name as organName,
		  o1.organ_type as organType,
		  o1.organ_status as status,
		  o2.organ_name as organParentName,
		  od.organ_mge_id as organMgeId ,
		  od.organ_mge_name as organMgeName 
		from
		  	IFDP_SYS_ORGAN_BASE o1 
		left outer join IFDP_SYS_ORGAN_BASE o2 
		    on o1.parent_no = o2.organ_no 
		left outer join SYS_ORGAN_DETAIL od 
		    on o1.organ_no = od.organ_no 
		    and o1.uid = od.uid 
		where o1.organ_no =#{organNo} 
	
    </select>
       
    <!--4.查询当前机构的直属下级机构详情信息  -->
     <select id="queryChildOrganDetail" parameterType="java.lang.String" resultType="com.omcube.model.po.SysOrganPO"> 
   
		select
			o1.organ_no as organNo,
			o1.organ_name as organChildName,
			o1.organ_type as organType,
			o1.organ_status as status,
			od.organ_mge_id as organMgeId ,
			od.organ_mge_name as organMgeName
		from
			IFDP_SYS_ORGAN_BASE o1
		left outer join SYS_ORGAN_DETAIL od 
			on o1.organ_no = od.organ_no
			and o1.uid = od.uid
		where
			o1.parent_no = #{organNo} 
			and o1.organ_status = '1'
    
    </select>
       
    <!--5.查询机构下的人员信息 -->
    <select id="queryOrganMember" parameterType="java.lang.String" resultMap="SysUserMap"> 	    
	    select * from IFDP_SYS_USER_BASE where organ_no=#{organNo} and status='1'   
    </select>
    
     <resultMap id="SysUserMap" type="com.omcube.model.po.SysUserPO">
        <id column="user_no" property="userNo"></id>
        <result column="log_name" property="userName" javaType="java.lang.String"></result>
        <result column="cert_no" property="certNo" javaType="java.lang.String"></result>
        <result column="mobile_tel" property="mobileTEL" javaType="java.lang.String"></result>
        <result column="email" property="email" javaType="java.lang.String"></result>
        <result column="organ_no" property="organNo" javaType="java.lang.String"></result>
        <result column="remark" property="remark" javaType="java.lang.String"></result>
        <result column="created_date" property="createdDate" javaType="java.util.Date"></result>
        <result column="updated_date" property="updatedDate" javaType="java.util.Date"></result>
        <result column="created_by" property="createdBy" javaType="java.lang.String"></result>
        <result column="updated_by" property="updatedBy" javaType="java.lang.String"></result>      
    </resultMap>
   
   
     <!--6.根据机构编号删除机构 -->
   <delete id="deleteOrganInfo" parameterType="java.lang.String" >
   
   		update IFDP_SYS_ORGAN_BASE set organ_status='0' where organ_no=#{organNo}  
    
   </delete>
   <!--7.增加机构人员信息 -->
    <insert id="addOrganMember" parameterType="com.omcube.model.po.SysUserPO">
		    insert into IFDP_SYS_USER_BASE (
					uid,user_no,log_name,cert_no,mobile_tel,email,organ_no,status,pswd,
					pswd_level,remark,created_by,created_date,updated_by,updated_date
				)
			values
				(
					#{uId},#{userNo},#{userName},#{certNo},#{mobileTEL},#{email},
					#{organNo},#{status},#{password},#{pwdLevel},#{remark},#{createdBy},
					date_format(now(),'%y-%m-%d'),#{updatedBy},date_format(now(),'%y-%m-%d')
				)
		     
    </insert>
    
    <!--8.删除机构人员 -->
    <delete id="deleteOrganMember" parameterType="java.lang.String" >
   
   		update IFDP_SYS_USER_BASE set status='0' where user_no=#{userNo}
    
   </delete>
    
    <select id="queryAllChildrenOrganNoes" parameterType="java.lang.String" resultType="java.lang.String"> 
	      SELECT organ_no from IFDP_SYS_ORGAN_BASE where FIND_IN_SET(organ_no,queryChildrenOrganInfo(#{organNo}));
    </select>
    
    <!--9.更新机构及机构详情信息 -->
    <update id="modifyOrgan" parameterType="com.omcube.model.po.SysOrganPO">
       	
    	update IFDP_SYS_ORGAN_BASE
		set 
			organ_name =#{ organName },
			organ_type =#{ organType }, 
			organ_status =#{ status},
			updated_by=#{updatedBy},
			updated_date=date_format(now(),'%y-%m-%d')
		where
			organ_no =#{ organNo }
    	
    </update>
    
    <!--更新机构详情信息-->
     <update id="modifyOrganDetail" parameterType="com.omcube.model.po.SysOrganPO">
    
    	update SYS_ORGAN_DETAIL
			set
			organ_mge_name =#{ organMgeName },
			updated_by=#{updatedBy},
			updated_date=date_format(now(),'%y-%m-%d')
		where
			organ_no =#{ organNo }
    	
    </update>
       
     <!--10.新增机构和机构详情信息-->
    <insert id="addOrgan" parameterType="com.omcube.model.po.SysOrganPO">
   
	    insert into IFDP_SYS_ORGAN_BASE
	  	  		(uid,organ_no,organ_name,organ_type,organ_status,
	    		parent_no,organ_level,organ_descr,org_path,created_by,
	    		created_date,updated_by,updated_date) 
	    	values(
	    		#{uId},#{organNo},#{organName},#{organType},#{status},
	    		#{parentNo},#{organLevel},#{organDescr},#{organPath},#{createdBy},
	    		date_format(now(),'%y-%m-%d'),#{updatedBy},date_format(now(),'%y-%m-%d')
	    	)   
    </insert>
    
    <!--新增机构详情信息-->
    <insert id="addOrganDetail" parameterType="com.omcube.model.po.SysOrganPO">
	    insert into SYS_ORGAN_DETAIL(uid,organ_no,org_reg_addr,organ_con_addr,organ_man,organ_tel,
	    	organ_email,organ_mge_id,organ_mge_name,organ_descr,created_by,created_date,updated_by,updated_date) 
	    	values(
	    		#{uId},#{organNo},#{orgRegAddr},#{organConAddr},#{organMan},#{organTel},#{organEmail},
	    		#{organMgeId},#{organMgeName},#{organDescr},#{createdBy},date_format(now(),'%y-%m-%d'),
	    		#{updatedBy},date_format(now(),'%y-%m-%d')
	    	)
      
    </insert>
    
</mapper>