<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omcube.model.mapper.SysRoleBsnMapper">

	<!-- 添加角色功能的对应关系 -->
	<insert id="addRoleBsnInfo" parameterType="com.omcube.model.po.SysRoleBsnPO">
		insert into
			IFDP_SYS_REL_ROLE_BSN
		values(
			#{sysRole.uid},
			#{sysRole.roleNo},
			#{sysBsn.bsnNo},
			#{status},
			#{createdBy},
			#{createdDate},
			#{updatedBy},
			#{updatedDate},
			#{remark}
		)
	</insert>

</mapper>