<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
   <!-- 查询所有列表 -->     
<mapper namespace="com.omcube.model.mapper.VisaFreeHolidayMapper">
	<resultMap id="VisaFreeHolidayMap" type="com.omcube.model.po.VisaFreeHolidayPo">
        <result column="DAY_FLAG" property="dayFlag" javaType="java.util.Date"></result>
        <result column="REMARK" property="remark" javaType="java.lang.String"></result>
        <result column="CREATED_BY" property="creatById" javaType="java.lang.String"></result>
        <result column="CREATED_DATE" property="time" javaType="java.util.Date"></result>
        <result column="day_date" property="startDate" javaType="java.lang.String"></result>
        <result column="day_date" property="endDate" javaType="java.lang.String"></result>
    </resultMap>
    
    <select id="queryVisaFreeHolidays"  resultMap="VisaFreeHolidayMap">       
    	select eaf.ATTENCE_TIME,pw.DAY_FLAG,eaf.REMARK,pw.CREATED_BY,pw.CREATED_DATE from PUB_WORKDAY pw,EP_ATTENCE_FLOW eaf 
		<where>
			 pw.UID=eaf.UID=#{uid}
		</where> 
    </select>
    
    <!-- 条件组合查询 -->
    <select id="queryVisaFreeHolidaysByCondition" resultMap="VisaFreeHolidayMap" parameterType="com.omcube.model.request.QueryVisaFreeHolidayRequest">
    	select day_date,day_flag,remark,created_by,created_date from PUB_WORKDAY 
    	<where> uid=#{uid}
    		<if test="startDate!=null">
    			and day_date like '%${startDate}%'
    		</if>
    		<if test="endDate!=null">
    			and day_date like '%${endDate}%'
    		</if>
    		<if test="dayFlag!=null">
    			and day_flag =#{dayFlag}
    		</if>
    	</where>
    </select>
    <!-- 向 PUB_WORKDAY表插入数据 -->
    <insert id ="insertVisaFreeHoliday" parameterType="java.lang.String" >
    	insert into  PUB_WORKDAY (uid,day_date,day_flag,remark)values (#{uid},#{day},#{dayFlag},#{remark})
    </insert>
</mapper>