//公用样式
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body{
	font-family:$font-family-default;
	background:$bg-color;
	color:$color-text;
}
input[type='number'] {
	-webkit-appearance: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
input{
	-webkit-appearance: none;//去掉iphone input默认样式
}
input[type="search"] {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	font-size: initial;
   font-weight: normal;
}
p{
	margin-bottom:0;
}
pre {
	white-space: pre-line;
	font-family: inherit !important;
	margin: 0;
	padding:0;
	border:none;
	border-radius:$border-radius-default
}

ul{
	list-style: none;
	text-decoration: none;
	margin: 0;
   padding: 0;
}



#app {
	height: 100%;
}

.textarea-box {
	textarea {
		width: 100%;
		border: 0;
		min-height: 4em;
		padding: 5px;
		border-radius: 5px;
	}
}

.bg-body {
	background: $bg-color;
}

.bg-white {
	background: $bg-wihte;
}
.bg-primary{
	background:$color-primary;
}

[v-cloak] {
    display: none;
}

.item-subtitle {
	color: $color-text-secondary;
}


.c-required{
	color: $color-danger;
}

.c-primary {
	color: $color-primary;
}

.c-success {
	color: $color-success;
}

.c-danger {
	color: $color-danger;
}

.inline-block{
	display: inline-block;
}
.block{
	display: block;
}

.text-overflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.c-gray {
	&, &.icon{
		color: $color-text-gray;
	}
}

.c-dark {
	&, &.icon{
		color: $color-text;
	}
}

.f-small {
	font-size:12px;
}
.f-middle{
	font-size:14px;
}
.f-big{
	font-size:16px;
}
.f-large{
	font-size:40px;
}
.c-gray-light {
	color: $color-text-gray-light;
}

.clearfix {
	@include clearfix;
}
.clear-left {
	clear: left;
}
.container-wrap{
	padding:0 0 20px 20px;
}
.txt-center{text-align:center}
.cur-pointer{cursor:pointer}
.inline-block{display:inline-block;}
.color-link{color:$color-link;text-decoration: underline;}
.c-blue{color:#5AAFEE;}
.c-pink{color:#FF706F;}
.c-green{color:#5DC184;}
.c-yellow{color:#FFB360;}
.c-rgreen{color:#74D478;}
.fl{float:left;}

