//input 高亮
.el-input__inner:focus,
.el-textarea__inner:focus,
.el-select .el-input__inner:focus {
  border-color:$color-primary;
}
.el-form-item__label{
  font-weight:normal;
}
//日期选择样式
.el-date-editor{
  cursor: pointer;
}
.el-date-table td{
  &.available{
    &:hover{
      color:$color-primary;
    }
  }
}
.el-date-table td.current:not(.disabled),
.el-date-table td.end-date,
.el-date-table td.start-date {
  background-color: #fff;

}
.el-date-table td.current:not(.disabled){
  span{
    background-color:$color-primary;
  }
}
.el-date-table td.today {
  color: #ff9900;
} 
.el-date-table td.today:before {
  border-top: 0.5em solid #ff9900;
}
.el-date-table td{
  height:20px;
} 
//月份选择
.el-date-picker{
  .el-month-table{
    td{
      padding:10px 0;
      .cell{
        &:hover{
          text-decoration:none;
        }  
      }
     
    }
    .current,.current:not(.disabled){
      .cell{
        background-color:$color-primary !important;
      }
    }
  }
}

//搜索input框
.el-select-dropdown__item.selected{
  background:$bg-wihte; 
  color: #48576a;
}
.el-select-dropdown__item.selected.hover{
  background-color: #e4e8f1;
}
//file
.el-upload{
    .el-upload__input {
        display:none;
    } 
}
//无边框input
.no-border-input{
  .el-form-item__label{
      color:#999;
      font-weight:normal;
      text-align:right; 
      padding:0;
      height:36px;
      line-height:36px;
      min-width:110px;
      margin-right:20px;
  }
  .el-input__inner{
      border:none;
      padding:0;
  }
}
//select
.el-select{
  &.m-select{
    width:300px;
    .el-input__inner{
      width:100% !important;
    }
  }
}
//radio 样式
.el-radio__input{
  &.is-checked,&.is-focus{
    .el-radio__inner{
      background:#f90;
      border-color:#f90;
      &:after{
         transform: translate(-50%,-50%) scale(1);
      }
    }
  }
  &:after{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: transform .15s cubic-bezier(.71,-.46,.88,.6);
  }
}
