//查询页样式
.query_wrapper{
    padding-left: 20px;
    padding-bottom: 20px;
	width: 100%;
}
.queryContent_wrapper {
	width: 100%;
	padding: 0px 20px;
	background: #ffffff;
    clear: both;
    .titleBar {
        border-bottom: 1px solid #EEEEEE;
        .title-text {
            display: inline-block;
            position: relative;
            padding: 14px 0px;
            font-size: 16px;
            height: 50px;
            &:after {
                content: ''; 
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 100%;
                height: 2px;
                background: #333333;
            }
        }
        .titleBtn_wrapper{
            float:right;
            .btn-primary{
                margin-top:10px;
            }
            .el-button + .el-button {
                margin-left: 20px;
            }
        }
            
    }

    .queryContent_inner {
        padding: 30px 0px;
        .el-form-item__label {
            color: #999999;
            // padding:11px 10px 8px 0;
            margin: 0;
            font-weight: normal;
        }
        .el-input{
            width:auto;
            .el-input__inner{
                color: #333333;
                width: 164px;
                height: 30px;
                display: inline-block;
            }
        }
        .search_large{
            width:auto;
            .el-input__inner{
                color: #333333;
                width: 200px;
                height: 30px;
                display: inline-block;
            }
        }
        
        
        .el-form-item {
	        margin-bottom: 30px;
        }
        .large-label{
            .el-form-item__label{
                min-width:166px;
            }
        }
        .queryButton_wrapper {
            margin: 0px auto 30px;
            width: 260px;
            clear: both;
            font-size: 0px;
            padding-top: 4px;
            .el-button+.el-button{
                margin-left:20px;
            }
        }
        .table-button-box{
            margin-bottom:30px;
            .btn-default{
                margin-left:10px;
            }
        }
        .el-pagination {
            text-align: right;
            margin-top: 30px;
            margin-right: 40px;
            color: #282828;
            .el-pager{
                li{
                    padding: 0 4px;
                    border-right: 0;
                    background: #fff;
                    font-size: 12px;
                    letter-spacing: -0.39px;
                    min-width: 24px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    &.active{
                        border-color: #FF9900;
                        background-color: #FF9900;
                        color: #fff;
                        cursor: default;
                    }
                    &:hover {
                        color: #FF9900;
                    }
                }
                li.active:hover{
                    color: #fff;
                }
            }
            .btn-next {
                border: 1px solid #d1dbe5;
                border-radius: 0 2px 2px 0;
                padding-left: 0;
            }
            .btn-prev {
                border: 1px solid #d1dbe5;
                border-radius: 2px 0 0 2px;
                padding-right: 0;
            }
            .el-pagination__editor {
                padding: 0;
                width: 24px;
                .el-input__inner {
                    width: 24px;
                    height: 24px;
                }
            }
            button,span{
                display: inline-block;
                font-size: 12px;
                letter-spacing: -0.39px;
                min-width: 24px;
                height: 24px;
                color: #282828;
                line-height: 24px;
                vertical-align: top;
                box-sizing: border-box;
            }
            button.disabled,button.disabled:hover {
                color: #e4e4e4;
                background-color: #fff;
            }
        }
        .el-table .cell{
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            .el-icon-edit{
                margin-right:10px;
            }
        }
        .el-table .link {
            color: #337ab7;
            text-decoration: underline;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
