//查询重置按钮
.el-button{
	&.btn-default,&.btn-default:hover{
		color:$color-primary;
		background:$bg-wihte;
		@include size(100px,30px); 
		padding:0;
		border:$border-default;
	}
	&.btn-primary,&.btn-primary:hover{
		color:#fff;
		background:$color-primary;
		@include size(100px,30px);
		padding:0;
		border:$border-default;
	}
}
//删除修改小图标
.el-icon-edit,.el-icon-delete2{
	color:$color-primary;
	cursor: pointer;
	text-decoration: underline;
}



